[user]
	name = Joe Gross
	email = jgross@stimpy.net
[push]
	default = simple
[color]
	ui = auto
[rebase]
	autoStash = true
	autosquash = true
	stat = true
[pull]
	rebase = true
[core]
	hooksPath = $HOME/.githooks
[commit]
	verbose = true